<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>standard gravity</string>
		<key>Dimension</key>
		<string>0 1 -2 0 0 0</string>
		<key>Name</key>
		<string>gn</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>9.8066499999999994</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>speed of light in vacuum</string>
		<key>Dimension</key>
		<string>0 1 -1 0 0 0</string>
		<key>Name</key>
		<string>c</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<integer>299792458</integer>
	</dict>
	<dict>
		<key>Description</key>
		<string>Newtonian constant of gravitation</string>
		<key>Dimension</key>
		<string>-1 3 -2 0 0 0</string>
		<key>Name</key>
		<string>G</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>6.6738400000000001e-11</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>Planck constant</string>
		<key>Dimension</key>
		<string>1 2 -1 0 0 0</string>
		<key>Name</key>
		<string>h</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>6.6260695699999996e-34</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>magnetic constant (vacuum permeability)</string>
		<key>Dimension</key>
		<string>1 1 -2 -2 0 0</string>
		<key>Name</key>
		<string>μ₀</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>1.2566370614359171e-06</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>electric constant (vacuum permittivity)</string>
		<key>Dimension</key>
		<string>-1 -3 4 2 0 0</string>
		<key>Name</key>
		<string>ε₀</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>8.8541878176203892e-12</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>characteristic impedance of vacuum</string>
		<key>Dimension</key>
		<string>1 2 -3 -2 0 0</string>
		<key>Name</key>
		<string>Z₀</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>376.73031346177072</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>Coulomb's constant</string>
		<key>Dimension</key>
		<string>1 3 -4 -2 0 0</string>
		<key>Name</key>
		<string>k_e</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>8987551787.3681774</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>Bohr radius</string>
		<key>Dimension</key>
		<string>0 1 0 0 0 0</string>
		<key>Name</key>
		<string>a₀</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>5.2917721092000003e-11</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>classical electron radius</string>
		<key>Dimension</key>
		<string>0 1 0 0 0 0</string>
		<key>Name</key>
		<string>r_e</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>2.8179403267000001e-15</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>electron mass</string>
		<key>Dimension</key>
		<string>1 0 0 0 0 0</string>
		<key>Name</key>
		<string>m_e</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>9.1093829099999999e-31</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>pi</string>
		<key>Dimension</key>
		<string>0 0 0 0 0 1</string>
		<key>Name</key>
		<string>π</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>3.1415926535897931</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>pi</string>
		<key>Dimension</key>
		<string>0 0 0 0 0 1</string>
		<key>Name</key>
		<string>pi</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>3.1415926535897931</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>Euler's number(the base of the natural logarithm)</string>
		<key>Dimension</key>
		<string>0 0 0 0 0 0</string>
		<key>Name</key>
		<string>e</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>2.7182818284590451</real>
	</dict>
	<dict>
		<key>Description</key>
		<string>golden ratio</string>
		<key>Dimension</key>
		<string>0 0 0 0 0 0</string>
		<key>Name</key>
		<string>φ</string>
		<key>NumOfUsage</key>
		<integer>0</integer>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<real>1.618033988749894</real>
	</dict>
</array>
</plist>
