<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>answer</string>
		<key>Dimension</key>
		<string>0 0 0 0 0 0</string>
		<key>Name</key>
		<string>Ans</string>
		<key>Offset</key>
		<integer>0</integer>
		<key>Value</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
